<div class="container">
  <button *ngIf="usuario.login === 'admin'"  (click)="adicionar()" class="btn btn-info">Adicionar novo cliente</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes" >
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cpf}}</td>
        <td>
          <button (click)="editar(cliente.id)" class="btn btn-success">Editar</button>
          <button (click)="excluir()" class="btn btn-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
